html {
  font: normal 100%/1.5 "Bevan", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
 box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  background-color: #79756f;
  color: #fff;
  font-family: "Bevan";
  margin: 0;
  padding: .6em, .5em;
  text-align: center;
  text-size: 3rem;
  border-color: #595652;
  border-style: solid;
  border-top-width: thin;
  border-bottom-width: thin;
}

.nav a {
  list-style-type: none;
  padding: .75em;
  background-color: #713837;
  margin: 0;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.nav a:hover {
  background-color: #f33;
}
