html {
  font: normal 100%/1.5 "Bevan", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  border-color: #595652;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
}

h1 {
  font-family:"Bevan";
}

.menu li {
  padding: .5em;
  background-color: #713837;
  margin: 0;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  list-style-type: none;
}

.menu li:hover {
  background-color: #f33;
}

h2 {
  background-color: #dbd6cf;
}
